*{
    margin: 0;
}

header{
    max-width: 820px;
    text-align: center;
    position: relative;
    margin-top: 10px;
    height: 120px
}

#logo{
    position: absolute; 
    left: 360px;
}

#menu2{
    float: right;
    padding: 0px;
    position: relative;
    display: none;
    right: 20px;
}

#menu2 ul{
    padding: 0;
    background: rgba(0,0,0,.5);
    font-size: 0;
    list-style: none;
    position: absolute;
    right: 0px;
    background: rgba(0,0,0,.9);
    display: none;
}


#menu2 ul li{
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #9c0101;
    border-top:none;
}
#menu2 ul li:first-child {
    border-top: 1px solid #9c0101;
}

#menu2 ul li:active{
    background:rgba(0,0,255,.3);
}

#menu2 ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

body{
    background-image: url(https://abs.twimg.com/images/themes/theme14/bg.gif);
    color: white;
    font-family: arial;
    font-size: 16px;
}

#contenedor{
    max-width: 820px;
    margin: 0 auto;
    padding: 0;
}

nav ul{
    padding: 0;
    background: rgba(0,0,0,.5);
    font-size: 0;
}

nav ul li{
    display: inline-block;
    width: 14.28%;
    font-size: 14.4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: center;
}

nav ul li:hover{
    background:rgba(0,0,0,.3);
}

nav ul li a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    border-left: 1px solid #000;
    border-right: 1px solid #666;
    display: block;

    line-height: 28px;
    padding: 0 14px;
    margin: 6px 0;
}

nav li:first-child a { 
    border-left: none; 
}

nav li:last-child a{ 
    border-right: none; 
}

#webs{
    background-color: transparent;
    background-image: url(../img/fondo.png);
    background-repeat: repeat;
    border : 2px solid black;
}

article{
    color: black;
    padding: 5px;
    margin-top:30px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid white;
    display: inline-block;
    max-width: 810px;
    background: #ccc;
    box-sizing: border-box;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
}

article:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}

.programa,.info{
    float: left;
}



.programa{
    margin-right: 20px;
}

.canal{
    float: right;
    background-color: background;
    margin-left: 20px;
}

.info{
    max-width: 62%;
    margin-right: 5px; 
    min-width: 62%;
}

.espFooter{
    height: 25px;
}

footer{
    text-align: center;
}




@media screen and (max-width: 825px) {
    

    #logo{
        position: absolute; 
        left: 10px;
        width: 100px;
    }

    #campo{
        display: none
    }

    #webs img{
        width: 100px;
        height: 100px;
    } 
    
    nav ul li{
        width: 16.5%;
    }

}

@media screen and (max-width: 691px) {
    .canal,.programa{
        
    }
}

@media screen and (max-width: 691px) {
    nav{
        display: none;
    }
    
    #menu2{
        display: block;
    }
}